# macOS
.DS_Store
.AppleDouble
.LSOverride

# Backup files
*.bak
*.bak2
*.bak3
*.old

# Editor
.vscode/
*.swp
*.swo

# Temp
*.tmp
zibgZyzc

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
